# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
.env

# System files
.DS_Store
Thumbs.db

# Local config and temp
*.log
*.sqlite3

# Informações de DB
agems_database_der.png
ESTRUTURA_BANCO_DADOS.md
sistema DGE AGEMS.pptx
