{% extends "base.html" %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Senha Alterada com Sucesso</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Senha Alterada</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6 mt-4">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-success"><i class="bi bi-check-circle"></i> Tudo certo!</h5>
                        <p>Sua senha foi alterada com sucesso no sistema. Você se encontra autenticado validamente.</p>

                        <div class="text-center mt-4">
                            <a href="{% url 'dashboard' %}" class="btn btn-primary">Prosseguir para o Painel</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock %}